.front
  text-align: center

  .pretitle
    font-family: Kakugo
    font-weight: 700
    font-size: 18pt
    margin: -3cm auto 2cm

  .title
    font-family: Kakugo
    font-weight: 700
    font-size: 22pt

  .others
    font-size: 18pt
    line-height: 2
    margin-top: 8cm
