// Color
$color-black = #000000
$color-gray = #666666
$color-light-gray = #eeeeee

// Font
$font-serif = Mincho
$font-sans-serif = Kakugo
$body-font = 10pt Mincho, sans-serif
$body-line-height = 1.8
$code-font-family = Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace
$math-font = 11pt Math, serif

// A4
$page-width = 210mm
$page-height = 297mm

$page-margin-top = 25mm
$page-margin-bottom = 35mm
$page-margin-left = 25mm
$page-margin-right = 25mm

// Size
$body-font-size = 10pt
$nonbre-font-size = 9pt
$body-line-height = 1.8
$img-max-width = 10cm
$img-max-height = 8cm
$page-header-font-size = 10pt
$page-footer-font-size = 10pt

// Page Header, Footer
$page-top-left = ""
$page-top-right = ""
$page-bottom-left = ""
$page-bottom-right = ""

// Cover
$cover = true
